$primary-color: #007bff;
$secondary-color: #6c757d;
$white-color: #fff;
$gray-color: #ccc;
$bg_home: #123E56;
$color_1: white;
$yellow-color: #FFC107;
$grey-10: #FDFDFD;
$grey-20: #ECF1F6;
$grey-30: #E3E9ED;
$grey-40: #D1D8DD;
$grey-50: #BFC6CC;
$grey-60: #9CA4AB;
$grey-70: #878690;
$grey-80: #66707A;
$grey-90: #434E58;
$grey-100: #1F2C37;
$success: green;
$light-gray: #f5f5f5;



$like_black: #2D2D2D;
$black: #000000;
$border: 1px solid rgba(0, 0, 0, 0.1);
$main-color: #c20f00;
$bg-color: #fff;
$red: #cf0f00;

$font-family_1: 'Cardo';
$font-family_2: 'Plus Jakarta Sans';
$ff_montserrat: Montserrat !important;

$none: none;
$flex: flex;
$inline-block: inline-block;
$hidden: hidden;
$z-index: 1000;
$null: 0;

$px-100:100px;
$px-200:200px;
$px-300:300px;
$px-400:400px;
$px-500:500px;
$px-600:600px;

$center:center;

$percentage-50:50%;
$percentage: 100%;


$center: center;
$w_h_150: 150px;
$w_h_20px: 20px !important;
$fs_20px: 20px;
$fs_24px: 24px;
$fs_25px: 25px;



$p_10:10px;
$p_16:16px;
$p_20:20px;

$m_10:10px;
$mb_10:10px;
$m_16:16px;
$m_20:20px;