.navbar{
    height: 64px;
    @media screen and (min-width:300px) {
        display:none !important;
    }
}
.navbar-brand{
    padding: 0;
    margin: 0;

}
.nav-tabs{
    padding: 0px 12px;
    height: 64px;
    li>a{
        display: flex;
        align-items: center;
        color: rgba(0,0,0,.54);
        font-family: 'Roboto',sans-serif;
        letter-spacing: .5px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
a{
    font-family: 'Roboto',sans-serif;
    
}

#language-selector{
    display: flex;
    gap: 5px;
    padding: 0 18px 0 40px;
    button{
        font-size: .625rem;
        border: none;
        border-radius: 100%;
        padding: 10px;
    }
}

.user{
    padding: 16px;
    a>svg{
        vertical-align: sub;
    }
}
.nav-tabs .nav-link {
    border: 0;

    &.active{
        color: var(--main);
        border-bottom: 2px solid var(--main);
    }
}
.logo{
    width: 135px;
    height: 50px;    
    object-fit: fill;
}
.heads-more-info{
    padding-bottom: 14px ;
  }


